<form method="POST" action="/comments">
  <p> Name: <input type="text" name="comment[name]" required></p>
  <p> Enter comment: <textarea name="comment[user_comment]" rows="5" cols="40" required></textarea></p>
  <input type="submit" value="Save comment">
</form>
