<!-- Embedded ruby file to set home screen -->
<p>Simple web applicaiton built using Ruby and Sinatra to manage student information system.</p>
<img alt="Frank Sinatra" src="/images/sinatra.jpg" />


