<!-- Embedded ruby to provide for navigation upon clicking Home, About, Contact, Students, Comments, Video, Login/Logout -->
<nav>
<ul>
<li><a href="/" title="Home">Home</a></li>
<li><a href="/about" title="About">About</a></li>
<li><a href="/contact" title="Contact">Contact</a></li>
<li><a href="/students" title="Students">Students</a></li>
<li><a href="/comments" title="Comments">Comments</a></li>
<li><a href="/video" title="Video">Video</a></li>
<% if session[:admin] == true %>
  <li><a href ="/logout" title="Logout">Logout</a></li>
<% else %>
  <li><a href="/login" title="Login">Login</a></li>
<% end %>
</ul></nav>
